*:focus{outline:none !important;} /*Trinhnk*/
html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}
iframe{width:100%}
.clearfix::after{content:"";display:block;clear:both;height:0;visibility:hidden;overflow:hidden}
body,h1,h2,h3,h4,h5,h6,form,input,select,ul,textarea{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,section{display:block}
body{font-family:'Poppins',sans-serif;font-size:14px; padding-right: 0 !important;}
.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto;
}
.modal-open[style] {
    padding-right: 0px !important;
}
.dataTables_wrapper {
  padding-bottom: 20px;
}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
h3{font-weight:600}
.clear{clear:both}
table{border-collapse:collapse;border-spacing:0}
a:hover{text-decoration:none}
::placeholder{color:#555!important;font-style:italic;opacity:1}
:-ms-input-placeholder{color:#555!important;font-style:italic}
::-ms-input-placeholder{color:#555!important;font-style:italic}
div[data-u="slides"] div div{
    border-radius: 18px;
}
.star-rate{color:#FF8F00}
.item-progress .progress{border-radius:20px;height:15px;margin-bottom:15px}
.box-course .progress{margin-bottom:10px}
.progress{border-radius:20px}
.progress-bar-success{background-color:#44B900}
#config-slider{top:-80px!important}
.detail-course .related-course,.detail-course .instructors,.detail-course .feedback,.course-recommend{padding:50px 0}
.notifications.alert-danger{background:linear-gradient(to right,#F4A111,#fe7202);margin-bottom:0;color:#fff;border:0;border-radius:0}
.notifications.alert-danger img{width:20px}
.notifications .close{opacity:.8}
nav .pagination li a{border:0}
nav .pagination li.active .page-link{border:0;background:#00B7F1;border-radius:20px}
nav .pagination li a img{width:35px;position:relative;top:-6px}
.scrollbar::-webkit-scrollbar{background-color:#fff;width:16px}
.scrollbar::-webkit-scrollbar-track{background-color:#fff}
.scrollbar::-webkit-scrollbar-track:hover{background-color:#f4f4f4}
.scrollbar::-webkit-scrollbar-thumb{background-color:#babac0;border-radius:16px;border:5px solid #fff}
.scrollbar::-webkit-scrollbar-thumb:hover{background-color:#a0a0a5;border:4px solid #f4f4f4}
.scrollbar::-webkit-scrollbar-button{display:none}
.detail-course h3,.course-learning-content h3,.course-recommend h3{padding-bottom:25px}
.percent{color:#999;position:relative}
.percent:BEFORE{color:#999}
.percent:AFTER{content:"\f005";font-family:"FontAwesome";position:absolute;top:0;left:0;z-index:2;color:#FF8F00;overflow:hidden}
.percent.percent_1:AFTER{width:10%}
.percent.percent_2:AFTER{width:20%}
.percent.percent_3:AFTER{width:30%}
.percent.percent_4:AFTER{width:40%}
.percent.percent_5:AFTER{width:50%}
.percent.percent_6:AFTER{width:60%}
.percent.percent_7:AFTER{width:70%}
.percent.percent_8:AFTER{width:80%}
.percent.percent_9:AFTER{width:90%}
.percent.percent_0:AFTER{width:100%}
.sm-mobile-menu,.unica-home-menutop{top:0;z-index:2000;width:100%;background:#fff}

.box-course a.course-box-slider{.display:inline-block;color:#333;background:#fff;border-radius:10px}
.box-course a.btn-start-learning {
    margin-top: 12px;
}
.box-course{padding-bottom:30px;margin:0 5px 0 8px}
.box-course .content-course{border:1px solid #cccccca6;border-radius:0 0 10px 10px;padding:15px}
.box-course .content-course h3.title-course{font-size:16px;margin:0 0 10px;font-weight:600;line-height:26px;min-height:52px}
.box-course .img-course img{border-radius:10px 10px 0 0}
.box-course .content-course .time-view{padding:6px 0}
.box-course .content-course .price-course .price{font-size:17.5px;position:relative;top:4px}
.box-course .content-course .price-course .price.line-through{text-decoration:line-through}
.box-course .content-course .price-course .sale{font-size:20px;color:#FF8F00}

.lessons .u-list-course h3,.lessons .u-list-course ul{display:inline-block}
.lessons .u-list-course ul li{float:left;padding:5px 25px}
.lessons .u-learn-what h3,.u-des-course h2,.u-list-course h2,.u-course-plus h3,.u-course-teacher h3,.u-combo-buy h3,.u-rate-hv h3,.u-cm-hv h3{font-size:16px;font-weight:700;padding:15px}
.lessons .tag .label{font-weight:400}
.lessons .u-des-course p{margin-bottom:10px;line-height:25px}
.lessons .u-des-course ul li{list-style:disc;margin:0 0 10px 40px}
.lessons .u-list-course .title,.u-list-course .link,.u-list-course .time{font-size:13px;padding-left:20px}
.lessons .u-list-course .title i{color:#999}
.lessons .u-learn-what ul li{width:50%;float:left;line-height:50px}
.lessons .u-learn-what .title{color:#333;padding:0 22px;margin:0 0 15px;background:url(../img/learning-bg.png) no-repeat scroll 0 4px transparent}
.lessons .u-learn-what .title i{color:#37bb03;font-size:16px}
.lessons .u-list-course .panel-title{font-size:14px;font-weight:700}
.lessons .btn-preview{padding:5px;background-color:#FF8F00;color:#fff!important;border-radius:5px}
.lessons .u-list-course .col{border-bottom:1px solid #e1e1e1;padding:15px 0}
.lessons .u-list-course .panel-body{padding:0}
.col-width-lg{margin:0 auto}
.unica-home-menutop{border-bottom:1px solid #e1e1e1;-webkit-box-shadow:0 1px 3px 0 rgba(0,0,0,0.75);-moz-box-shadow:0 1px 3px 0 rgba(0,0,0,0.75);box-shadow:0 1px 3px 0 rgba(0,0,0,0.75)}
.unica-home-menutop .db-item { margin-top: 13px; display: inline-block;width: 100%; }
.unica-home-menutop  .db-item .unica-active-course { margin-top: 0; }
.unica-home-menutop  .db-item li { display: inline; float: left; margin-right: 20px; }
.unica-home-menutop  .db-item li:last-child { float: right; margin-right: 0px; padding-top: 5px;}
.unica-home-menutop  .db-item .dropdown-menu li:last-child {  padding-top: 0;}
.unica-home-menutop  .db-item li.btn-group.open > a { box-shadow: unset; }
.dropdown-menu li { display: inline-block; width: 100% }
.unica-home-menutop  .db-item-learn { padding: 10px; border-radius: 3px; background: #03A9F4; color: #fff; display: block;  }
.unica-home-menutop  .db-item-learn:hover { opacity: .8 }
.unica-home-menutop  .db-item-circle { display: inline-block; }
.unica-home-menutop  .db-item-circle img { max-height: 30px; max-width: 30px; border-radius: 25px; float: left; min-height: 30px; margin-top: -3px; }

.unica-home-menutop  .db-item-circle i { font-size: 24px; color: #0097e3; display: block; float: left;  }
.unica-home-menutop  .db-item .caret {     display: block;    float: right;    margin-top: 12px; margin-left: 7px; color: #777 }
.unica-home-menutop  .db-drop {right: 0; left: auto; top: 40px;}
.unica-home-menutop  .db-drop li > a { padding: 10px 20px; }
.unica-home-menutop  .db-drop i { width: 30px; text-align: center; }

.unica-logo{padding:13px 0 15px;float:left}
.unica-menu-cate{display:inline-block;margin:25px 0 0 16px;cursor:pointer;position:relative;color:#555}
.unica-menu-cate i{font-size:18px;margin-right:5px;vertical-align:middle}
.unica-form{height:40px;width:99%!important}
.unica-btn-search{position:absolute;right:28px;top:16px;background:transparent;font-size:20px;padding:6px 20px}
.unica-search-boxtop{margin-top:13px}
.unica-search-boxtop input.unica-form{border-radius:25px;background:#EDEDED;border:none}
.unica-active-course{background:#00B7F1;border:1px solid #00B7F1;padding:9px 36px 9px 10px;border-radius:3px;display:inline-block;color:#fff;margin-top:13px;background:url(../images/icon_student.png) no-repeat 90.5% center #00B7F1}
.unica-active-course i{margin-right:5px}
.unica-cart{color:#999;margin-left:15px;position:relative;top:10px}
.unica-cart i{font-size:24px}
.unica-sl-cart{color:#FF8F00;font-size:11px;border-radius:25px;border:1px solid #333;position:absolute;top:-13px;left:14px;padding:1px 5px;background:#fff}
.unica-acc-zone{float:right;margin-top:13px}
.unica-acc-zone li{display:inline-table;margin:0 5px}
ul.unica-acc-zone li a{color:#555}
ul.unica-acc-zone li.special{cursor: pointer; border:1px solid #555;padding:9px 10px;border-radius:25px;display:inline-block;color:#555;width:80px;text-align:center}
ul.unica-acc-zone li.special:hover{border:none;background:#FF8F00}
ul.unica-acc-zone li.special:hover a{color:#fff}
.amazonmenu{visibility:hidden;opacity:0;position:absolute;padding-top:18px}
.unica-menu-cate:hover .amazonmenu{visibility:visible;opacity:1}
.amazonmenu:after,.amazonmenu:before{left:14px;right:auto}
.amazonmenu:after{border-color:transparent transparent #fff;top:5px}
.amazonmenu:before{border-color:transparent transparent #282828;top:5px}
.amazonmenu:after,.amazonmenu:before{border-style:solid;border-width:0 10px 13px;content:"";height:0;position:absolute;right:14px;width:0}
.hassub i{width:30px;text-align:center}
.amazonmenu ul{list-style:none;margin:0;padding:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:14px}
.amazonmenu ul li{position:static}
.amazonmenu > ul{background:#fff;border:1px solid #eee;width:250px;position:relative;box-shadow:1px 1px 1px #ccc;z-index:99}
.amazonmenu > ul li a{color:#242424;display:block;overflow:auto;padding:10px 0;position:relative;text-decoration:none;text-indent:10px}
.amazonmenu > ul li.hassub > a::after{border:5px solid transparent;border-left-color:gray;content:'';height:0;position:absolute;right:5px;top:35%;width:0}
.amazonmenu > ul li.hassub.selected > a::after{border-left-color:#f58829}
.amazonmenu ul li a:hover,.amazonmenu ul li.hassub.selected > a{background:#f7f8fa;color:#0975b4}
.amazonmenu ul li > div,.amazonmenu ul li > ul{background:#f7f8fa;border:1px solid #eee;box-shadow:1px 1px 1px #ccc;display:none;font-weight:400;width:305px;left:100%;padding:0 10px;position:absolute;top:-1px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;z-index:999}
.unica-active-course p{display:inline;padding-right:6px}
.feature-website{padding:20px 0}
.feature-website .course-feature{text-align:center;margin:40px 0 30px;font-size:20px}
.feature-website .course-feature p{font-size:15px}
.feature-website h3{font-weight:700;padding:15px 0 10px}
.feature-website .symbol-format{min-height:85px;position:relative}
.feature-website .symbol-format img{max-height:100%;max-width:100%;width:auto;height:auto;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto}
.become-teacher{background:url(../images/bg-teacher.png) no-repeat;background-size:100% 90%;background-position:right bottom;margin:40px 0}
.become-teacher .ads-teacher{padding-top:50px;text-align:center}
.become-teacher .ads-teacher p{font-size:30px;color:#fff;font-weight:600}
.become-teacher .ads-teacher h2{font-size:36px;color:#FFC700;font-weight:600;padding:15px 0 25px 0}
.become-teacher .ads-teacher a{background:#fff;color:#52937A;border:none;border-radius:10px;padding:10px 30px;display:inline-block;font-weight:800;font-size: 16px}
.become-teacher img{height:300px}
.member-card{padding:30px 0}
.member-card .courdemy-member{padding-bottom:40px}
/*.member-card .courdemy-member a{font-size: 20px;font-weight: 800}*/
.member-card #coursdemy,.member-card #txt-format{font-size:40px;font-weight:800}
.member-card #txt-format{color:#00B7F1}
.member-card .des-member-card{padding:30px 0;font-size:16px}
.member-card a{background:#00B7F1;color:#fff;border:none;border-radius:10px;padding:15px 40px;display:inline-block;text-transform:uppercase;font-weight:800;font-size: 20px}
.member-card img{width:100%}
.partner{padding:40px 0;background-color: #f5f5f5}
.partner h2{text-align:center;padding:0 0 40px;font-size:40px;font-weight:800}
.partner p{text-align:center;font-size:20px}
.partner .partner-img{padding:35px 0}
.partner .partner-img li img{height:80px;width:auto;float:left;padding:0 30px}
.member-card-banner{background:url(../images/member-card-banner.png) no-repeat;background-size:100% 100%}
.member-card-banner .bann{display:flex;align-items:center;padding:80px 0}
.member-card-banner .tit{padding-left:40px}
.member-card-banner p{color:#fff;font-size:32px;font-weight:900}
.member-card-offer{padding:30px 0}
.member-card-offer h2{font-size:30px;font-weight:900;padding:40px 0}
.member-card-offer .space{margin:40px 0}
.member-card-offer .box-offer-l{padding-right:40px}
.member-card-offer .box-offer-r{padding-left:40px}
.member-card-offer .img .img-bg{position:relative;width:100%}
.member-card-offer .img .box-l,.member-card-offer .img .box-r{position:absolute;top:0;left:0;width:100%;height:50%;display:flex;align-items:center;justify-content:center}
.member-card-offer .img .box-l{padding-right:40px}
.member-card-offer .img .box-r{padding-left:40px}
.member-card-offer .img .offer-dollar{text-align:center}
.member-card-offer .img .offer-dollar .dollar{font-size:96px;color:#fff;font-weight:900;text-shadow: 3px 3px 10px #555555}
.member-card-offer .img .offer-dollar .courdemy{display:flex;align-items:center;background-color: rgba(0, 0, 0, 0.3);border-radius:60px;padding:20px 60px}
.member-card-offer .img .offer-dollar .courdemy p{font-size:30px;color:#fff;padding-left:20px}
.member-card-offer .info .dollar{font-size:28px;font-weight:700;text-align:center;padding:20px 0}
.member-card-offer .info{padding:20px 0}
.member-card-offer .info p{padding:0 20px}
.member-card-offer .info button{border:none;border-radius:10px;width:100%;height:50px;margin:40px 0;color:#fff;font-size:16px;font-weight:700}
.member-card-offer .info .buy-now{background-color:#FF8F00}
.member-card-offer .info .add-to{background-color:#44B900}
.member-card-offer .info a button{box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.member-card-offer .info .valid,.member-card-offer .info .number-course{display:flex;justify-content:center;align-items:center}
.member-card-purchase-way{background:url(../images/bg-teacher.png) no-repeat;background-size:100% 85%;background-position:bottom}
.member-card-purchase-way .textx{padding:80px 0 40px 0;text-transform:uppercase;font-weight:900;text-align:center}
.member-card-purchase-way .textx .how-to{font-size:36px;color:#fff;padding:10px 0}
.member-card-purchase-way .textx .courdemy{font-size:42px;color:#FFC700;padding-bottom:10px}
.member-card-purchase-way .textx .show-me{border:none;border-radius:10px;background-color:#fff;color:#52937A;font-size:16px;text-transform:uppercase;padding:15px 50px}
.member-card-purchase-way img{width: 400px;left:0;bottom: 0}
.member-card-info{padding:50px 0}
.member-card-info h2{padding:30px 0;font-size:42px;font-weight:900}
.member-card-info .btn-save{text-align:center;font-weight:900;padding:10px 120px;background-color:#ff882b;border:none;border-radius:10px;color:#fff;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.member-card-info img{width:80%;padding:60px 0;float: right}
.member-card-info .padding-form{padding-bottom: 15px}
.banner-student-profile{background:url(../images/member-card-banner.png) no-repeat;background-size:100% 100%;display:flex;justify-content:center;align-items:center;padding:40px 0}
.banner-student-profile .ava{position:relative;width:100%;max-width:400px;display:flex;justify-content:center;align-items:center}
.banner-student-profile .ava img{border-radius:50%;width:150px;height:150px;border:4px solid #fff}
.banner-student-profile .ava button{background:#FF8F00;border-radius:20px;border:none;display:inline-block;padding:5px 15px;color:#fff;position:absolute;bottom:0;left:auto}
.banner-student-profile .brief-des{color:#fff;text-align:center}
.banner-student-profile .brief-des .name{font-size:26px;padding:10px 0}
.profile{padding:40px 0;text-align:center}
.profile p{font-size:26px;right: 0}
.profile .btn-save{text-align:center;padding:10px 100px;background-color:#FF8F00;border:none;border-radius:10px;color:#fff;margin:20px 0}
.top-course .tab-content .img-course{position:relative}
.top-course .tab-content .img-course .heart-icon{position:absolute;top:10px;right:10px;background-color:#fff;border:1px solid #444;padding:5px 2px 2px;border-radius:5px;color:red}
.top-course .tab-content .img-course .setting-icon{position:absolute;top:10px;right:10px;background-color:#fff;border:1px solid #444;padding:5px 2px 2px;border-radius:5px}
.top-course .tab-content .info .progress{background-color:#aaa;-webkit-box-shadow:none;box-shadow:none;border-radius:10px;height:20px}
.bill-info{padding-bottom:80px}
.bill-info .title-bill-info{padding:40px 0}
.bill-info .balance{padding:40px 0}
.bill-info .balance p{font-size:20px;font-weight:700;text-align:center}
.bill-info .balance .amount{color:#44B900;font-size:32px}
.bill-info .balance .btn-confirm{text-align:center;padding:7px 0;background-color:#FF8F00;border:none;border-radius:10px;color:#fff}
.bill-info .payment-method .payment-card img{width:100%;height:auto;padding:5px;border:5px solid #FFF}
.bill-info .payment-method .payment-card{padding:20px 10px}
.bill-info .payment-method .payment-card img:hover{border-color:#44B900;border-radius:20px}
.course-learning-banner{background:url(../images/member-card-banner.png) no-repeat;background-size:100% 100%;color:#fff;padding:40px 0}
.course-learning-banner iframe{width:100%;height:40%}
.course-learning-banner .left-intro{padding:10px 0 0 30px}
.course-learning-banner .meta-des{font-size:20px;margin:10px 0}
.course-learning-banner .vote{padding:15px 0}
.course-learning-banner .vote .continue{float:left;margin:0 20px 20px 0}
.course-learning-banner .vote .rating{float:left}
.course-learning-banner .vote span{padding-right:10px}
.course-learning-banner .vote span i{padding-right:3px}
.course-learning-banner .vote a{padding:10px 15px;background:#FF8F00;border:none;border-radius:10px;color:#fff;font-weight:700}
.course-learning-banner .vote .icon-star{color:#FF8F00}
.course-learning-banner .vote .star-rate{font-size:19px}
.course-learning-banner .number-unit{padding:20px 0}
.course-learning-banner .cup-icon{text-align:center}
.course-learning-banner .border-element{border:none;border-top-right-radius:0;border-bottom-right-radius:0;}
.course-progress-bar{display: flex; justify-content: space-between;}
.course-progress-bar .progress{ height: 15px;}
.course-progress-bar .cup-progress{position: relative;}
.course-progress-bar .cup-progress .progress{border-top-left-radius:0; border-bottom-left-radius: 0;}
.course-progress-bar .cup-progress i {position: absolute; left: 33%; top: -125%;}
.course-learning-content .left-content{margin-bottom:30px;margin-right: 25px}
.course-learning-content .left-content .desc{padding-bottom:40px}
.course-learning-content .course-document{padding:40px 0}
.course-learning-content .all-doc{border:1px solid #e1e1e1;border-radius: 5px}
.course-learning-content .lesson-doc{border-bottom:1px solid #e1e1e1;padding:10px 0 10px 20px}
.course-learning-content .document-name,.course-learning-content .file-size{line-height:30px}
.course-learning-content .btn-download-doc{background-color:#44B900;color:#fff;}
.course-learning-content .sidebar{margin:30px 0;border:1px solid #e1e1e1;text-align:center;background-color: #f5f5f5;border-radius: 5px}
.course-learning-content .sidebar .teacher-info{padding:10px}
.course-learning-content .sidebar .teacher-info .instructor{font-size:30px;font-weight:900;padding:20px 0}
.course-learning-content .sidebar .teacher-info img{border:none;border-radius:50%;width:120px;height:120px}
.course-learning-content .sidebar .teacher-info .name{padding:30px 0 0;font-size:20px;font-weight:700}
.course-learning-content .sidebar .teacher-info .office{padding:0 0 20px}
.course-learning-content .sidebar .teacher-info .icon-star{padding-right:3px;color:#FF8F00}
.course-learning-content .sidebar .teacher-info .total-course,.course-learning-content .sidebar .teacher-info .total-student{text-align:left;padding-bottom:10px}
.course-learning-content .sidebar .teacher-info .total-student{line-height:32px}
.course-learning-content .sidebar .teacher-info .total-student .inbox{background:#FF8F00;border:none;border-radius:5px;color:#fff}
.course-learning-content .sidebar .teacher-info .total-student .inbox a{color: #fff}
.course-learning-content .relate-course{margin:30px 0 80px 0;border:1px solid #e1e1e1;background-color: #f5f5f5;border-radius: 5px}
.course-learning-content .relate-course .relate-title{font-size:30px;font-weight:900;padding:20px 0;text-align:center}
.course-learning-content .relate-course .list-course{padding:20px}
.course-learning-content .relate-course .list-course img{width:100%;border:none;border-radius:10px}
.course-learning-content .relate-course .list-course .title{font-weight:600;padding:5px 0}
.course-learning-content .relate-course .list-course .teacher{padding-bottom:5px;font-size: 12px}
.course-learning-content .relate-course .list-course .time{font-size: 12px}
.course-learning-content .relate-course .list-course .level{font-size: 12px}
.course-learning-content .relate-course .list-course .one-course{padding-bottom:20px}
.course-learning-content .relate-course .btn-see-all{margin-bottom:40px;border-radius:10px;padding:10px 25px;font-weight:600}
.course-learning-question{background-color: #f5f5f5}
.course-learning-question .title{text-align:center;padding:40px 0;font-weight:900}
.course-learning-question .text-box{padding-bottom:40px}
.course-learning-question .text-box .btn-submit{text-align:center;padding:20px 0}
.course-learning-question .text-box .btn-submit .submit-question{padding:12px 80px;color:#fff;background-color:#FF8F00;border:none;border-radius:10px;font-weight: 900;box-shadow: 1px 1px 10px #e1e1e1}
footer{font-weight:500;background:url(../images/bg-footer.png) no-repeat;background-size:100% 100%}
footer .img-logo{padding:30px 0}
footer .img-fanpage{padding:20px 0}
footer .item-1 p{padding:5px 0}
footer .item-1 a{color:#fff}
footer .item-2{background-color:#000}
footer .item-2 ul li{float:left}
footer .item-2 ul li a{color:#fff;text-decoration:none;display:block;padding:10px 30px 10px 0}
footer .item-2 .copyright{color:#fff;padding:10px 0}
.feature-course{padding-bottom:50px;margin-top:-35px}
.feature-course img{width:100%}
.feature-course .img-top{padding-bottom:15px}
.title-module-home h2{padding-bottom:25px;font-weight:700;margin:0 5px;font-size:28px}
.top-course{padding-bottom:35px}
.top-course .nav.nav-tabs{border:none}
.top-course .nav.nav-tabs li a{cursor:pointer;background-color:#E0E0E0;border-radius:10px;margin:0 10px;padding:5px 15px;color:#333;padding:10px 25px;font-weight:600}
.top-course .nav.nav-tabs li.active a{background:linear-gradient(to right,#645f99,#20CADD);color:#fff;border:none;padding:10px 25px}
.top-course .nav.nav-tabs li a:hover{background-color:#ccc}
.top-course .btn-seeall{padding:8px 30px;border-radius:8px;background-color:#E0E0E0;font-weight:600}
.top-course .btn-seeall:hover{background-color:#ccc}
.popular-teacher img{width:100%}
.popular-teacher .info{padding:20px 15px 25px;margin:0 5px 0 8px;background:#E9E9E9;border:1px solid #dddddd99;border-radius:10px}
.popular-teacher .info .avatar{margin:8px 0}
.popular-teacher .info .avatar img{vertical-align:middle;width:100px;height:100px;border-radius:50%;border:3px solid #fff;box-shadow:2px 1px 10px grey}
.popular-teacher .info .name-teacher{font-size:18px;padding:10px 0;font-weight:600}
.popular-teacher .info .des-teacher{font-size:16px}
.popular-teacher .info .n-rate{color:#666}
.popular-teacher .info .star-teacher{padding:10px 0}
/*.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent;bottom:80px} */
.slick-slider{display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent;bottom:80px}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}
.slick-track:before,.slick-track:after{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left;min-height:1px}
[dir='rtl'] .slick-slide{float:right}
.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-arrow.slick-hidden{display:none}
.slick-course img{max-width:100%}
.slick-course .item{position:relative}
.slick-course .item .cat{position:absolute;top:35px;width:100%;color:#fff}
.slick-course .item .cat h2{font-weight:600;padding-bottom:6px}
.item-slider{cursor:pointer;}
.cat-item-slider{margin-top:33px;color:#fff}
.demo-aaaa{position:relative;display:block;bottom:80px}
.background-page .slider img{width:100%}
.background-page .slider .item{padding-bottom:10px; height: 149px;}
.background-page .highlight .title p{text-transform:uppercase;font-size:24px;color:#fff}
.background-page .highlight{position:relative;bottom:120px}
.background-page .highlight .title{margin-bottom:20px;font-size:25px}
.background-page .highlight .thumbnail-img h4{font-size:22px;padding-bottom:5px;text-transform:uppercase}
.background-page .highlight .thumbnail-img{display:block;position:relative;color:#fff}
.background-page .highlight .thumbnail-img .explore{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.detail-teacher{margin-bottom:80px}
.detail-teacher .frame .avatar{display:flex;align-items:center}
.detail-teacher .frame .avatar img{vertical-align:middle;width:150px;height:150px;border-radius:50%;float:left;border:4px solid #FFF;box-shadow:2px 2px 10px #aaa}
.detail-teacher .frame .avatar .info{padding-left:15px}
.detail-teacher .frame .avatar .info .name{font-weight:550;font-size:30px}
.detail-teacher .frame .avatar .info .expret{font-size:18px;font-weight:550}
.detail-teacher .background{position:absolute}
.detail-teacher .item{position:relative;top:30px}
.detail-teacher .frame .avatar{padding-left:50px}
.detail-teacher .frame .avatar .info{color:#fff}
.detail-teacher .frame .network{padding-top:50px}
.detail-teacher .frame .network .btn span{position:relative;top:-2px}
.detail-teacher .frame .network img{position:relative;top:3px}
.detail-teacher .frame{position:relative;top:30px}
.detail-teacher .frame_2{background:#fff;padding:50px 30px 30px;box-shadow:inset 0 0 5px #ccc}
.detail-teacher .frame_2 iframe{height:280px}
.detail-teacher .frame_2 .desc{height:220px;overflow:auto}
.detail-teacher .frame_2 .info-others{margin-top:25px}
.detail-teacher .frame_2 .info-others ul li{float:left}
.detail-teacher .frame_2 .info-others ul li:nth-child(2){padding:0 50px 0 10px}
.detail-teacher .frame_2 .info-others ul li:nth-child(3){padding-top:4px}
.detail-teacher .frame_2 .info-others ul li span.special{position:relative;bottom:5px}
.detail-teacher .frame_2 .info-others ul li img{padding-right:5px}
.network .btn{padding:5px 22px;margin:0 5px;border-radius:6px}
.detail-course{margin-bottom:80px}
.detail-course .frame .network{padding-top:25px}
.detail-course .frame .network .btn span{position:relative;top:-2px}
.detail-course .frame .network img{position:relative;top:3px}
.detail-course .info .skill ul li,.detail-course .lessons .tags ul li,.left-content .lessons .tags ul li{float:left;background:#ccc;margin:0 20px;padding:5px 25px;border-radius:20px}
.detail-course .frame .avatar{display:flex;align-items:center}
.detail-course .frame .info{color:#fff}
.detail-course .frame .info .name{font-weight:600;font-size:19px}
.detail-course .background{position:absolute}
.detail-course .item{margin-top:90px}
.detail-course .frame .avatar{padding-left:50px}
.detail-course .frame .avatar .info{color:#fff}
.detail-course .frame_2 .box{padding:0 20px 20px 0}
.detail-course .frame_2 .box span.sale{color:#FF8F00;font-size:19px;padding-right:10px}
.detail-course .frame_2 .box .btn-toh{width:250px}
.detail-course .frame_2 .box .btn-toh:hover{background:#FF8F00;border:1px solid #FF8F00}
.detail-course .frame_2 .box span.special{position:relative;top:-8px;padding-left:3px}
.detail-course .frame_2 .box span.price,.detail-course .frame_2 .box span.price-off{font-size:19px}
.detail-course .frame_2 .box span.price{text-decoration:line-through}
.detail-course .frame_2 .box span.interval{color:red;display:block;font-size:12px}
.detail-course .frame_2{background:#fff;padding:30px;box-shadow:inset 0 0 5px #ccc;margin-top:-25px}
.detail-course .frame_2 iframe{height:250px}
.detail-course .frame_2 .desc{height:220px;overflow:auto}
.detail-course .menu,.course-learning-content .menu{text-align:center}
.detail-course .menu ul,.course-learning-content .menu ul{display:inline-block;margin:0;padding:0;zoom:1;*display:inline}
.detail-course .menu,.course-learning-content .menu{margin:50px 0}
.detail-course .menu ul li,.course-learning-content .menu ul li{font-weight:600;background:#E0E0E0;float:left;margin:0 20px;border-radius:10px;padding:5px 15px}
.detail-course .menu ul li a,.course-learning-content .menu ul li a{color:#333}
.detail-course .menu ul li.active,.course-learning-content .menu ul li.active{background:linear-gradient(to right,#645f99,#20CADD);color:#fff;border:none;color:#fff}
.detail-course .info{margin-bottom:50px}
.detail-course .info h3{padding-bottom:15px}
.detail-course .info .knowledge{padding:30px 0 10px}
.detail-course .info .knowledge li{float:left;width:50%;padding-bottom:25px}
.detail-course .info .knowledge li img{float:left;padding-right:10px}
.detail-course .info ul.others{border:1px solid #ccc;background:#F5F5F5}
.detail-course .info ul.others li img{float:left;padding-right:10px}
.detail-course .info ul.others li span.txt-large{font-size:16px}
.detail-course .info ul.others{padding:30px 20px}
.detail-course .info ul.others li span.txt-small{display:block;font-size:12px}
.detail-course .info ul.others li{padding-bottom:30px}
.detail-course .info ul.others li:last-child{padding-bottom:0}
.detail-course .lessons{padding-bottom:50px}
.detail-course .lessons .u-video-list-course .panel{border-radius:0;border:0;box-shadow:none}
.detail-course .lessons .u-video-list-course .col{display:inline-block;width:100%;border-bottom:1px solid #eaeaea;padding:5px 0 8px}
.detail-course .lessons .u-docu{margin:5px;padding:5px;background:#ccc;color:#fff;display:inline-block;width:98%}
.detail-course .lessons .u-docu a{display:block;border-bottom:1px solid #eaeaea;color:#fff}
.detail-course .lessons .u-docu a:last-child{border:0}
.detail-course .lessons .u-video-list-course a{line-height:25px}
.detail-course .lessons .col .title{float:left}
.detail-course .lessons .col .time{float:right}
.detail-course .lessons .u-video-list-course .panel-heading{padding:10px 5px}
.detail-course .lessons .u-des-course strong{font-weight:700;font-style:italic}
.detail-course .lessons .u-combo-buy h3,.u-cm-hv h3,.u-rate-hv h3,.u-course-teacher h3,.u-des-course h2{font-size:16px;font-weight:700;margin-bottom:10px;margin-top:0;border-bottom:1px solid #ddd;padding-bottom:10px}
.detail-course .lessons .u-list-course h3,.detail-course .lessons .u-list-course ul{display:inline-block}
.detail-course .lessons .u-list-course ul li{float:left;padding:5px 25px}
.detail-course .lessons .u-learn-what h3,.u-des-course h2,.u-list-course h2,.u-course-plus h3,.u-course-teacher h3,.u-combo-buy h3,.u-rate-hv h3,.u-cm-hv h3{font-size:16px;font-weight:700;padding:15px}
.detail-course .lessons .tag .label{font-weight:400}
.detail-course .lessons .u-des-course p{margin-bottom:10px;line-height:25px}
.detail-course .lessons .u-des-course ul li{list-style:disc;margin:0 0 10px 40px}
.detail-course .lessons .u-list-course .title,.u-list-course .link,.u-list-course .time{font-size:13px;padding-left:20px}
.detail-course .lessons .u-list-course .title i{color:#999}
.detail-course .lessons .u-learn-what ul li{width:50%;float:left;line-height:50px}
.detail-course .lessons .u-learn-what .title{color:#333;padding:0 22px;margin:0 0 15px;background:url(../img/learning-bg.png) no-repeat scroll 0 4px transparent}
.detail-course .lessons .u-learn-what .title i{color:#37bb03;font-size:16px}
.detail-course .lessons .u-list-course .panel-title{font-size:14px;font-weight:700}
.detail-course .lessons .btn-preview{padding:5px;background-color:#FF8F00;color:#fff!important;border-radius:5px}
.detail-course .lessons .u-list-course .col{border-bottom:1px solid #e1e1e1;padding:15px 0}
.detail-course .lessons .u-list-course .panel-body{padding:0}
.detail-course .lessons .u-course-plus ul{position:relative}
.detail-course .lessons .u-plus-icon{position:absolute;top:120px;left:200px}
.detail-course .lessons .u-plus-icon i{font-size:60px;color:#545454;opacity:.8}
.detail-course .lessons .requirement{border:1px solid #ccc;background:#F5F5F5;padding:30px 20px}
.detail-course .lessons .requirement h3{padding-bottom:30px;text-align:center}
.detail-course .lessons .requirement ul{padding-left:18px}
.detail-course .lessons .requirement ul li{padding-bottom:15px;list-style-type:disc}
.detail-course .instructors{background:#F5F5F5}
.detail-course .instructors a.link{color:#333}
.detail-course .instructors h3{padding-bottom:20px}
.detail-course .instructors img.avatar{vertical-align:middle;width:110px;height:110px;border-radius:50%}
.detail-course .instructors .detail-info{padding-right:40px}
.detail-course .instructors .detail-info a{color:#333}
.detail-course .instructors .detail-info .frame{padding-bottom:6px}
.detail-course .instructors .detail-info span.special{position:relative;top:-6px}
.detail-course .instructors .detail-info .name{font-weight:600}
.detail-course .instructors .detail-info .expret{padding:6px 0}
.detail-course .instructors .detail-info ul li{float:left;padding-right:10px}
.detail-course .feedback .percent-rating{padding-left:10px}
.detail-course .feedback .student-rating{text-align:center}
.detail-course .feedback .student-rating h3{padding-bottom:6px}
.detail-course .feedback .student-rating .number{font-size:32px;color:#FF8F00;font-weight:600}
.detail-course .feedback .student-rating .star{font-size:26px;padding-bottom:5px}
.detail-course .top-course #best-seller .info{margin:0}
.reviews img.avatar{vertical-align:middle;width:60px;height:60px;border-radius:50%;float:left;margin-right:15px}
.reviews .info-account{padding-top:13px}
.reviews .info-account .interval{color:#29C2F3;font-size:13px}
.reviews .box hr{margin:25px 0;border-top:1px solid #ccc}
.reviews .box .btn-action button{padding:2px 25px}
.reviews .box .comment{padding:8px 0}
.reviews .box .comment-reply{border:1px solid #ccc;background:#E7E7E7;padding:20px;margin:20px 0}
.btn-see-more{text-align:center}
.btn-see-more button{text-transform:uppercase;margin-top:20px}
.background-page .highlight .thumbnail-img h4.big-course{ font-size: 44px; }
.background-page .highlight .thumbnail-img p.big-course{ font-size: 20px; }

.mt-5{ margin-top: 5px; }
.mt-10{ margin-top: 10px; }
.mb-20{ margin-bottom: 20px; }
.my-10{ margin: 10px 0; }
.review-star{ color: #FF8F00; cursor: pointer;}
.yellow-color{ color: #FF8F00; cursor: pointer;}

.btn-action{
    margin-bottom: 10px;
}

/*-List-Course-*/
.box-search,.box-list-course-by-type{
    padding: 30px 0;
}
.box-search  h2 {
    line-height: 32px;
    font-weight: 600;
    font-size: 20px;
    margin: 0 5px 20px 5px;
}
.box-list-course-by-type h1{
    font-weight: 600;
    font-size: 28px;
    margin: 0 5px 20px 5px;   
}

/* USER */
.u-dashboard-main { background: #f2f3f5; margin-bottom:  10px; }
.u-dashboard-top  { padding: 50px 0 0 0;  background-repeat: no-repeat; background-size: cover; width: 100%; height: auto;  background-position: center;}
.u-dashboard-top p { font-size: 24px; font-weight: bold; color: #fff; margin-bottom: 30px; display: inline-block; }
.u-dashboard-top ul li { display: inline; margin-right: 10px;  position: relative; }
.u-dashboard-top ul li a { padding: 8px; }
.u-dashboard-top a { color: #fff; }
.u-dashboard-top a:hover { color: #333; }

.dropzone{
    min-height: auto !important;
}
.dz-image-preview a.dz-remove{
    display: none !important;
}

div[data-u="slides"] div div{
    border-radius: 18px;
}

.box-user{
    border:1px solid #eee;
    padding: 10px 10px 0px 10px;
    margin: 10px 0px;
}
.box-user .result-search-u-keyword{
    padding-bottom: 20px;
    font-weight: 600;
}
.box-user .tabbable-line .tab-content label{
    padding-bottom: 5px;
}
/* Default mode */
.box-user .tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}
.box-user .tabbable-line > .nav-tabs > li {
    margin-right: 2px;
}
.box-user .tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
}
.box-user .tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}
/* .box-user .tabbable-line > .nav-tabs > li.open, .box-user .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
} */
.box-user .tabbable-line > .nav-tabs > li.open > a, .box-user .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}
.box-user .tabbable-line > .nav-tabs > li.open > a > i, .box-user .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
}
.box-user .tabbable-line > .nav-tabs > li.open .dropdown-menu, .box-user .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}
.box-user .tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #FF8F00;
    position: relative;
}
.box-user .tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
}
.box-user .tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}
.box-user .tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0px 5px 0px;
}
.box-user .tabbable-line > .tab-content {
    padding-bottom: 0;
}

/* Below tabs mode */

.box-user .tabbable-line.tabs-below > .nav-tabs > li {
    border-top: 4px solid transparent;
}
.box-user .tabbable-line.tabs-below > .nav-tabs > li > a {
    margin-top: 0;
}
.box-user .tabbable-line.tabs-below > .nav-tabs > li:hover {
    border-bottom: 0;
    border-top: 4px solid #fbcdcf;
}
.box-user .tabbable-line.tabs-below > .nav-tabs > li.active {
    margin-bottom: -2px;
    border-bottom: 0;
    border-top: 4px solid #f3565d;
}
.box-user .tabbable-line.tabs-below > .tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}
.u-group-box-user-list {   border: 1px solid #ccc;    padding: 10px;    background: #fff;    border-radius: 3px; margin-top: 10px; }
.u-group-box-user-list h4 { font-weight: bold; display: inline-block; width: 100%; }
.u-group-box-user-list .form-group a { border: none; background: none; font-size: 18px; margin: 5px; padding: 0; }
.u-group-box-user-list span { font-size: 13px; color: #575757; display: block; margin: 5px 0; }
.u-group-box-user-list h5 { float: left; font-weight: bold; }
.u-group-box-user-list h6 { float: right; font-size: 13px; }
.u-group-box-user-list ul { display: inline-block; margin-top: 5px; }
.u-group-box-user-list ul li { float: left; margin-right: 5px; }
.u-group-box-user-list img { border-radius: 100%; }
.u-group-box-user-list p { font-size: 13px; margin: 5px 0; }
.u-group-box-user-list a { color: #000; font-weight: bold; border: 1px solid #ccc; padding: 2px 15px; border-radius: 10px; background: #e1e1e1; display: inline-block; margin-right: 5px; font-size: 12px; margin-top: 5px; }

.box-search-course {
    margin-bottom: 20px
}

.box-search-course .form-group input {
    width: 100%
}

.box-search-course .box-input {
    width: 82%
}

.ui-datepicker-month, .ui-datepicker-year {
    color: #333;
}

.box-user .dropzone,
.box-user .dropzone *,
.box-user .dropzone-previews,
.box-user .dropzone-previews * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.box-user .dropzone {
  position: relative;
  border: 1px solid rgba(0,0,0,0.08);
  background: rgba(0,0,0,0.02);
  padding: 1em;
}
.box-user .dropzone.dz-clickable {
  cursor: pointer;
}
.box-user .dropzone.dz-clickable .dz-message,
.box-user .dropzone.dz-clickable .dz-message span {
  cursor: pointer;
}
.box-user .dropzone.dz-clickable * {
  cursor: default;
}
.box-user .dropzone .dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.box-user .dropzone.dz-drag-hover {
  border-color: rgba(0,0,0,0.15);
  background: rgba(0,0,0,0.04);
}
.box-user .dropzone.dz-started .dz-message {
  display: none;
}
.box-user .dropzone .dz-preview,
.box-user .dropzone-previews .dz-preview {
  background: rgba(255,255,255,0.8);
  position: relative;
  display: inline-block;
  margin: 17px;
  vertical-align: top;
  border: 1px solid #acacac;
  padding: 6px 6px 6px 6px;
}
.box-user .dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
.box-user .dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
  display: none;
}
.box-user .dropzone .dz-preview .dz-details,
.box-user .dropzone-previews .dz-preview .dz-details {
  width: 100px;
  height: 100px;
  position: relative;
  background: #ebebeb;
  padding: 5px;
  margin-bottom: 22px;
}
.box-user .dropzone .dz-preview .dz-details .dz-filename,
.box-user .dropzone-previews .dz-preview .dz-details .dz-filename {
  overflow: hidden;
  height: 100%;
}
.box-user .dropzone .dz-preview .dz-details img,
.box-user .dropzone-previews .dz-preview .dz-details img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.box-user .dropzone .dz-preview .dz-details .dz-size,
.box-user .dropzone-previews .dz-preview .dz-details .dz-size {
  position: absolute;
  bottom: -28px;
  left: 3px;
  height: 28px;
  line-height: 28px;
}
.box-user .dropzone .dz-preview.dz-error .dz-error-mark,
.box-user .dropzone-previews .dz-preview.dz-error .dz-error-mark {
  display: block;
}
.box-user .dropzone .dz-preview.dz-success .dz-success-mark,
.box-user .dropzone-previews .dz-preview.dz-success .dz-success-mark {
  display: block;
}
.box-user .dropzone .dz-preview:hover .dz-details img,
.box-user .dropzone-previews .dz-preview:hover .dz-details img {
  display: none;
}
.box-user .dropzone .dz-preview .dz-success-mark,
.box-user .dropzone-previews .dz-preview .dz-success-mark,
.box-user .dropzone .dz-preview .dz-error-mark,
.box-user .dropzone-previews .dz-preview .dz-error-mark {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  right: -10px;
  top: -10px;
}
.box-user .dropzone .dz-preview .dz-success-mark,
.box-user .dropzone-previews .dz-preview .dz-success-mark {
  color: #8cc657;
}
.box-user .dropzone .dz-preview .dz-error-mark,
.box-user .dropzone-previews .dz-preview .dz-error-mark {
  color: #ee162d;
}
.box-user .dropzone .dz-preview .dz-progress,
.box-user .dropzone-previews .dz-preview .dz-progress {
  position: absolute;
  top: 100px;
  left: 6px;
  right: 6px;
  height: 6px;
  background: #d7d7d7;
  display: none;
}
.box-user .dropzone .dz-preview .dz-progress .dz-upload,
.box-user .dropzone-previews .dz-preview .dz-progress .dz-upload {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: #8cc657;
}
.box-user .dropzone .dz-preview.dz-processing .dz-progress,
.box-user .dropzone-previews .dz-preview.dz-processing .dz-progress {
  display: block;
}
.box-user .dropzone .dz-preview .dz-error-message,
.box-user .dropzone-previews .dz-preview .dz-error-message {
  display: none;
  position: absolute;
  top: -5px;
  left: -20px;
  background: rgba(245,245,245,0.8);
  padding: 8px 10px;
  color: #800;
  min-width: 140px;
  max-width: 500px;
  z-index: 500;
}
.box-user .dropzone .dz-preview:hover.dz-error .dz-error-message,
.box-user .dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  display: block;
}
.box-user .dropzone {
 /* border: 1px solid rgba(0,0,0,0.03);*/
  min-height: 360px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  padding: 0 20px 20px 20px;
  border:2px dashed #ccc;
  
  transition:all ease-in-out 0.3s;
	-o-transition:all ease-in-out 0.3s;
	-moz-transition:all ease-in-out 0.3s;
	-webkit-transition:all ease-in-out 0.3s;
}
	.box-user .dropzone:hover{
		background:#f1f1f1;	
	}
/* .box-user .dropzone .dz-default.dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background-image: url("../images/spritemap.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width:350px;
  height: 123px;
  margin-left: -133px;
  margin-top: -61.5px;
  top: 50%;
  left: 50%;
}

.box-user .dropzone .dz-default.dz-message {
  background-image: url("../images/myspritemap.png") !important;
} */


.box-user .dropzone .dz-default.dz-message span {
  display: block !important;
  position: relative;
  top: 100px;
  text-align: center;
  font-style: italic;
}
.box-user .dropzone.dz-square .dz-default.dz-message {
  background-position: 0 -123px;
  width: 268px;
  margin-left: -134px;
  height: 174px;
  margin-top: -87px;
}
.box-user .dropzone.dz-drag-hover .dz-message {
  opacity: 0.15;
  filter: alpha(opacity=15);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
}
.box-user .dropzone.dz-started .dz-message {
  display: block;
  /* opacity: 0; */
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.box-user .dropzone .dz-preview,
.box-user .dropzone-previews .dz-preview {
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
  font-size: 14px;
}
.box-user .dropzone .dz-preview.dz-image-preview:hover .dz-details img,
.box-user .dropzone-previews .dz-preview.dz-image-preview:hover .dz-details img {
  display: block;
  /* opacity: 0.1; */
  filter: alpha(opacity=10);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

.box-user .dropzone .dz-preview.dz-success .dz-success-mark,
.box-user .dropzone-previews .dz-preview.dz-success .dz-success-mark {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.box-user .dropzone .dz-preview.dz-error .dz-error-mark,
.box-user .dropzone-previews .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.box-user .dropzone .dz-preview.dz-error .dz-progress .dz-upload,
.box-user .dropzone-previews .dz-preview.dz-error .dz-progress .dz-upload {
  background: #ee1e2d;
}
.box-user .dropzone .dz-preview .dz-error-mark,
.box-user .dropzone-previews .dz-preview .dz-error-mark,
.box-user .dropzone .dz-preview .dz-success-mark,
.box-user .dropzone-previews .dz-preview .dz-success-mark {
  display: block;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  background-image: url("../images/spritemap.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .box-user .dropzone .dz-preview .dz-error-mark,
  .box-user .dropzone-previews .dz-preview .dz-error-mark,
  .box-user .dropzone .dz-preview .dz-success-mark,
  .box-user .dropzone-previews .dz-preview .dz-success-mark {
    background-image: url("../images/spritemap@2x.png");
    -webkit-background-size: 428px 406px;
    -moz-background-size: 428px 406px;
    background-size: 428px 406px;
  }
}
.box-user .dropzone .dz-preview .dz-error-mark span,
.box-user .dropzone-previews .dz-preview .dz-error-mark span,
.box-user .dropzone .dz-preview .dz-success-mark span,
.box-user .dropzone-previews .dz-preview .dz-success-mark span {
  display: none;
}
.box-user .dropzone .dz-preview .dz-error-mark,
.box-user .dropzone-previews .dz-preview .dz-error-mark {
  background-position: -268px -123px;
}
.box-user .dropzone .dz-preview .dz-success-mark,
.box-user .dropzone-previews .dz-preview .dz-success-mark {
  background-position: -268px -163px;
}
.box-user .dropzone .dz-preview .dz-progress .dz-upload,
.box-user .dropzone-previews .dz-preview .dz-progress .dz-upload {
  -webkit-animation: loading 0.4s linear infinite;
  -moz-animation: loading 0.4s linear infinite;
  -o-animation: loading 0.4s linear infinite;
  -ms-animation: loading 0.4s linear infinite;
  animation: loading 0.4s linear infinite;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-image: url("../images/spritemap.png");
  background-repeat: repeat-x;
  background-position: 0px -400px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .box-user .dropzone .dz-preview .dz-progress .dz-upload,
  .box-user .dropzone-previews .dz-preview .dz-progress .dz-upload {
    background-image: url("../images/spritemap@2x.png");
    -webkit-background-size: 428px 406px;
    -moz-background-size: 428px 406px;
    background-size: 428px 406px;
  }
}
.box-user .dropzone .dz-preview.dz-success .dz-progress,
.box-user .dropzone-previews .dz-preview.dz-success .dz-progress {
  display: block;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.box-user .dropzone .dz-preview .dz-error-message,
.box-user .dropzone-previews .dz-preview .dz-error-message {
  display: block;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.box-user .dropzone .dz-preview:hover.dz-error .dz-error-message,
.box-user .dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.box-user .dropzone a.dz-remove,
.box-user .dropzone-previews a.dz-remove {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #eee));
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #eee 100%);
  background-image: -ms-linear-gradient(top, #fafafa 0%, #eee 100%);
  background-image: linear-gradient(top, #fafafa 0%, #eee 100%);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #eee;
  text-decoration: none;
  display: block;
  padding: 4px 5px;
  text-align: center;
  color: #aaa;
  margin-top: 26px;
}
.box-user .dropzone a.dz-remove:hover,
.box-user .dropzone-previews a.dz-remove:hover {
  color: #666;
}
