html,body, h1, h2, h3, h4, h5, h6, form, input, select, ul, textarea, p { margin: 0px; padding: 0; }
ul { list-style: inside; }
button {box-shadow: none !important; outline: none !important;}
li { margin: 0px; padding: 0px }
.learning-lecture-list-body li {list-style: none; }
body{
    font-family: 'Open Sans', sans-serif !important;
}
.swal2-popup{
    font-size: 1.5rem !important;
}
.learning-video{
    margin: 0;
    padding: 0;
}
#my-video{
    width: 100vw;
    height: 100vh;
    /* transition: 0.1s; */
    float: right;
}
#my-video.leftbarActive{
    width: calc(100vw - 350px);
    float: right;
}
#my-video.rightbarActive{
    width: calc(100vw - 350px);
    /* width: calc(100vw - 500px); */
    float: left;
}

.vjs-control-bar{
    z-index: 3;
    display: inline-block;
    height: 60px !important;
    padding-top: 2em !important;
    padding-bottom: 1em !important;

    background: linear-gradient(to top, rgba(20,23,28,0.9) 0, rgba(20,23,28,0.738) 19%, rgba(20,23,28,0.541) 34%, rgba(20,23,28,0.382) 47%, rgba(20,23,28,0.278) 56.5%, rgba(20,23,28,0.194) 65%, rgba(20,23,28,0.126) 73%, rgba(20,23,28,0.075) 80.2%, rgba(20,23,28,0.042) 86.1%, rgba(20,23,28,0.021) 91%, rgba(20,23,28,0.008) 95.2%, rgba(20,23,28,0.002) 98.2%, rgba(20,23,28,0) 100%) !important;
    /* background: rgba(173, 173, 173, 0.562) !important; */
}
.video-js .vjs-progress-control {
    position: absolute !important;
    top: 0.5em;
    left: 0;
    right: 0;
    width: auto !important;
    height: 0.5em !important;
}
.video-js .vjs-progress-control .vjs-progress-holder{
    height: 5px;
}
.video-js .vjs-progress-control .vjs-load-progress{
    height: 5px;
}
.video-js .vjs-progress-control .vjs-play-progress{
    background-color: #007BE5;
}
.video-js .vjs-play-progress:before {
    font-size: 1em !important;
}


/* .vjs-fullscreen-control{ margin-left: auto !important;} */
/* .vjs-volume-panel{margin-left: auto !important;} */
.learning-top{
    z-index: 3;
    position: absolute;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    top: 0;
    right: 0;
    left: 0;
    height: 3vw;
    color: rgb(255, 255, 255);
    transition: visibility 0.1s, opacity 0.1s;
    background: linear-gradient(to bottom, rgba(20,23,28,0.9) 0, rgba(20,23,28,0.738) 19%, rgba(20,23,28,0.541) 34%, rgba(20,23,28,0.382) 47%, rgba(20,23,28,0.278) 56.5%, rgba(20,23,28,0.194) 65%, rgba(20,23,28,0.126) 73%, rgba(20,23,28,0.075) 80.2%, rgba(20,23,28,0.042) 86.1%, rgba(20,23,28,0.021) 91%, rgba(20,23,28,0.008) 95.2%, rgba(20,23,28,0.002) 98.2%, rgba(20,23,28,0) 100%);
    /* background: rgba(173, 173, 173, 0.562); */
}

.vjs-big-play-button{
    display: none !important;
}
.lecture-title {
    margin-left: 5em;
    display: inline-flex;
    font-size: 1.5vw;
    cursor: pointer;
}
.lecture-title p {
    margin-left: 1vw;
}
.lecture-title i {
    margin-top: 0.5vw;
}
.lecture-subtitle{
    float: right;
    margin-right: 1em;
    margin-top:1em;
    display: inline-flex;
}
.lecture-subtitle a:hover{
    text-decoration: none;
}
.lecture-subtitle p{
    text-decoration: underline;
    color: #ffffff;
    font-size: 1vw;
}

.learning-lecture-list{
    z-index: 4;
    position: fixed;
    left: -350px;
    top: 0;
    width: 350px;
    height: 100vh;
    background: #f2f3f6;
    transition: 0.2s;
}
.learning-lecture-list.active{
    left: 0;
}
.learning-lecture-list-searchbar{
    position: relative;
    background-color: #f2f3f6;
    height: 3em;
    display: flex;
    margin: 0.5em;
}
.learning-lecture-list-searchbar #btnCloseSidebar {
    color: #000000;
    font-size: 2em;
    background-color: transparent;
}
.learning-lecture-list-searchbar #btnCloseSidebar:hover {
    color: #dd0202;
}
.learning-lecture-list-searchbar .input-group{
    width: 100%;
    padding-right: 0.5em;
    padding-top: 3px;
}
.learning-lecture-list-searchbar .input-group input {
    border-radius: 0;
}
.learning-lecture-list-searchbar .input-group span{
    background-color:#44B900 !important;
    border-radius: 0;
    color: white !important;
}

.learning-desc-panel{
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.363);
}
.learning-desc-panel-body{
    padding-top: 20vh;
    padding-left: 20vw;
    padding-right: 20vw;
    width: 100vw;
    height: 100vh;
    color: white;
    /* transition: 0.2s; */
}
.learning-desc-panel-body.leftbarActive{
    padding-left: 450px;
    padding-right: 5vw;
}
.learning-desc-panel-body.rightbarActive{
    padding-left: 5vw;
    padding-right: 450px;
}

.ln-desc-title p{
    font-size: 1.75vw;
}
.ln-desc-subtitle p{
    font-size: 1.5vw;
}
.ln-desc-content{
    max-height: 45%;
    overflow-y: scroll;

}
.ln-desc-content p{
    font-size: 1.25vw;
    text-align:justify;
}
.ln-desc-achv p{
    font-size: 1.25vw;
}

.ln-desc-btn-play button{
    color: #ffffff;
    font-weight: bold;
    padding: 0.1em 2em 0.1em;
    background: #F48E02 !important;
    border-color: #F48E02;
}

.ln-desc-achv .lecture-progress {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.cup-progress .progress {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.ln-desc-achv .ln-progress-bar {
    display: inline-flex;
}
.cup-progress{
    position: relative;
    text-align: center;
}
.cup-progress .progress-bar{
    background-color: #5cb85c;
}
.cup-progress i{
    position: absolute;
    font-size: 1.5vw;
    bottom: 25px;
    left: 31%;
    color: white;
    
}
.ln-progress-bar{
    position: relative;
}
.ln-progress-bar .progress{
    margin-bottom: 0;
    height: 0.5vw;
}

.vjs-control-bar #btnRewind{
    font-size: medium;
}
.vjs-playback-rate.vjs-control{
    border-radius: 5px !important;
    height: 3em !important;
    /* padding-left: 1em !important; */
    /* padding-right: 1em; */
    margin: 0 5px 2px !important;
    color: #000000 !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}
.vjs-playback-rate > .vjs-menu-button{
    top: -3px !important;
}
.vjs-playback-rate .vjs-menu{
    z-index: 5;
}
.vjs-control-bar #btnForward{
    font-size: medium;
}
.group-btn-control-time{
    margin-top: 2px;
    display: inline-flex;
    /* position: relative;
    bottom: 7px; */
}
.group-player-time{
    color: #ffffff !important;
    font-weight: bold !important;
}


.vjs-paused:before{
    
    font-size: large !important;
}
.vjs-playing:before{
    
    font-size: large !important;
}
.vjs-play-control{
    font-size: medium !important;
    bottom: 7px;
}
.vjs-volume-panel{
    font-size: small !important;
    bottom: 3px;
}
.vjs-fullscreen-control{
    font-size: medium !important;
    bottom: 7px;
}
.vjs-remaining-time{
    display: none !important;
}
.vjs-volume-control{
    /* margin-top: 4px !important;
    margin-right: 10px !important; */
    background: none !important;
}
/* .vjs-volume-level{
    width: 3px !important;
} */

.learning-lecture-list-body{
    margin: 0.5em;
    height: 92vh;
    color: #000000;
    background-color: #F2F3F6;
    overflow-y: auto;

}
.ln-lect-list-header{
    background-color: #ffffff;
    cursor: pointer;
}
.ln-lect-list-header-row-1{
    padding-top: 1rem;
    height: 2em;
}

.ln-lect-list-header-row-2{
    padding: 5px 2rem 10px;
}
.ln-lect-list-sect-number{
    float: left;
    margin-left: 2rem;
    font-size: smaller;
}
.ln-lect-list-sect-counter{
    float: right;
    margin-right: 2rem;
    font-size: smaller;
}
.ln-lect-list-sect-title{
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ln-lect-list-body{
    font-size: 12px;
    background-color: #ffffff;    
    border-top: 1px solid #F2F3F7;
    padding: 5px 0 5px;
    /* text-align: justify; */
}
.ln-lect-list-body li{
    /* padding: 15px 2rem; */
    padding: 0.5rem 1rem;
}
.ln-lect-list-body li:hover a{
    text-decoration: none;
}
.ln-lect-list-body li:hover a span{
    text-decoration: none;
    color:#fff;
}
.ln-lect-list-body li:hover{
    cursor: pointer;
    background: #4986ff;
}
.ln-lect-list-body li .active{
    background-color: lightblue;
}
.video-list-item a {
    display: flex;
    justify-content: space-between;
}
.ln-lect-list-lect-title-icon{
    order: 1;
    color: #676E7A !important;
    position: relative;
    top: 0.25em;
}
.fa-stack{
    font-size: 0.4em;
}
.ln-lect-list-lect-title{
    order: 2;
    flex: 1;
    min-width: 1px;
    color: #686F7A;
    position: relative;
    left: 0.2em;
    max-width: 330px;
    margin-right: 1.5em;
}
.ln-lect-list-lect-title:hover, .ln-lect-list-lect-duration:hover {
    text-decoration: none;
}
.ln-lect-list-lect-duration{
    color: #686E7A; 
    order: 3;
}
.ln-lect-list-body li button{
    color: rgb(200, 201, 202);
    background: none;
    border: none;
    font-size: 20px;
    padding-right: 0;
    position: relative;
}
.ln-lect-list-body li button:hover{
    border: unset !important;
    background: unset !important;
    /* color: rgb(200, 201, 202) !important; */
}
.ln-btn-complete{
    order: 4;
}
.ln-lect-list-item{
    margin-bottom: 20px;
    margin-right: 0.6em;
    margin-left: 1px;
    margin-top: 1px;
    -webkit-box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
    -moz-box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
    box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
}

.group-btn-utilities{
    font-family: "Open Sans" !important;
    margin: 0 auto;
}
.group-btn-utilities .btn i{
    font-size: medium;
}
.group-btn-utilities .btn:hover{
    color: #ffffff;
}
.group-btn-utilities .btn:focus{
    color: #ffffff;
    outline: none;
}
.vjs-control-bar #btnDiscuss{
    margin: 0 0.5em;
}
.vjs-control-bar #btnContinue{
    font-family: "Open Sans";
}
.vjs-control-bar #btnContinue i, .vjs-control-bar #btnAutoplay i{
    font-size: medium;
}
.vjs-control-bar #btnContinue:hover{
    color: #ffffff;
}
.vjs-control-bar #qualitySelectorIcon{
    font-size: large;
}
.vjs-control-bar #btnAutoplay{
    font-size: large;
}
.vjs-subtitle-control{
    margin-right: -10px !important;
    margin-left: 7px !important;
    padding-bottom: 2em !important;
}
.vjs-quality-selector{
    margin-left: -10px !important;
    padding-bottom: 2em !important;
}
.vjs-custom-big-play-button{
    position: absolute;
    text-align: center;
    width: 100vw;
    height: 90vh;
    top: 0;
}
.vjs-custom-big-play-button .btn{
    z-index: 2;
    background: #ffffff;
    border-radius: 50% !important;
    padding: 2.5em !important;
    width: 125px;
    height: 125px;
    position: relative;
    top: 40%;
    /* display: none; */
}
.vjs-custom-big-play-button .btn i{
    font-size: 55px;
    position: relative;
    left: 5px;
}
.vjs-custom-big-play-button.leftbarActive{
    width: calc(100vw - 350px);
    right: 0;
}
.vjs-custom-big-play-button.rightbarActive{
    width: calc(100vw - 350px);
    left: 0;
    /* display: block !important; */
}

.video-js .vjs-control:focus{
    text-shadow: none !important;
}
.video-js .vjs-control:hover{
    text-shadow: 0em 0em 1em white;
}
.vjs-control-bar .btn:hover{
    text-shadow: 0em 0em 1em white !important;
    color: white;
}
.vjs-control-bar .btn:focus{
    color: white;
}

.vjs-playback-rate .vjs-menu{
    width: 6em !important;
    left: -1em !important;
    /* bottom: 1.5em !important; */
    color: #ffffff;
}
.vjs-menu li.vjs-selected{
    background-color: #007BE5 !important;
    color: #fff !important;
}
/* .vjs-playback-rate .vjs-menu .vjs-menu-content{
    bottom: 2.5em !important;
} */
.vjs-quality-selector .vjs-menu .vjs-menu-content {
    /* bottom: 4.5em !important; */
    left: 0.5em !important;
}

.ln-desc-bottom{
    position: fixed;
    background : rgba(187, 187, 187, 0.342);
    height: 50px;
    width: 100vw;
    bottom: 0;
}
.ln-desc-bottom.leftbarActive{
    width: calc(100vw - 350px);
    right: 0;
}
.ln-desc-bottom.rightbarActive{
    width: calc(100vw - 350px);
    left: 0;
}


.ln-desc-btm-center{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 20%;
}
.ln-desc-btm-center .btn{
    color: #ffffff;
    background: none;
}
.ln-desc-btm-center .btn:hover{
    color: #ffffff;
    text-shadow: 0em 0em 1em white;
}
.ln-desc-btm-center .btn:focus{
    color: #ffffff;
    text-decoration: none;
    outline: none;
}
.learning-discussion{
    z-index: 4;
    position: fixed;
    left: -350px;
    top: 0;
    width: 350px;
    height: 100vh;
    background: #f2f3f6;
    transition: 0.2s;
    overflow: auto;
}
.learning-discussion.active{
    left: 0;
}


.ln-disc-header, .ln-files-header, .ln-notes-header{
    background-color: #007BE5;
    height: 3em;
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    color: #ffffff;
}
.ln-disc-header p, .ln-files-header p, .ln-notes-header p {
    position: relative;
    top: 15%;
    font-size: 1.5em;
    font-weight: bold;
}
.ln-disc-header>div, .ln-files-header>div, .ln-notes-header>div {
    left: 3%;
    font-size: 2em;
    position: relative;
    top: 17%;
    cursor: pointer;
}
.ln-disc-header i:hover, .ln-files-header i:hover, .ln-notes-header i:hover {
    color: #dd0202;
}
.ln-disc-post-list{
    margin: 0.6em;
    /* height: 69vh; */
    /* color: #000000; */
    background-color: #F2F3F6;
    /* overflow-y: auto; */
}
.ln-disc-post-wrapper{
    padding: 0.6em;
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 1px;
    transition: 0.5s;
    -webkit-box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
    -moz-box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
    box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
}
.ln-disc-post-wrapper>div:first-child{
    display: flex;
    cursor: pointer;
}
.ln-disc-post-right{
    padding-left: 10px;
    width: 100%;
    max-width: 86%;
    font-size: 12px;
}
.ln-disc-post-left img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.ln-disc-post-username{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
.ln-disc-post-username p{
    font-weight: bold;
    padding-top: 3px;
    margin-bottom: 0;
}
.ln-disc-post-username span{
    position: relative;
    top: 3px;
}
.ln-disc-post-short-content{
    width: 100%;
    max-width: 100%;
}
.ln-disc-post-short-content p {
    /* display: block; */
    /* overflow: hidden; */
    margin-bottom: 0;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    /* margin-bottom: 0px; */
}
.ln-disc-post-short-content p.active{
    text-overflow: unset;
    white-space: unset;
    text-align: justify;
    transition: 0.5s;

}

.ln-disc-comment-wrapper{
    transition: 0.5s !important;
    border-top: 1px solid #f2f3f7;
    margin-top: 0.5em;
    padding-top: 0.5em;
}
.ln-disc-comment-wrapper.active{
    display: block !important;
}
.ln-disc-comment-wrapper .ln-disc-comment{
    display: flex;
    padding-left: 15%;
    margin-bottom: 10px;
}
.ln-disc-comment-left img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.ln-disc-comment-right{
    margin-left: 10px;
    width: 100%;
}
.ln-disc-comment-username{
    display: flex;
    justify-content: space-between;
}
.ln-disc-comment-username p{
    font-weight: bold;
    margin-bottom: 0;
    font-size: 11.5px;
}
.ln-disc-comment-content{
    font-size: 11.5px
}
.ln-disc-comment-input{
    max-width: 455px;
    margin-top: 1em;
}
.ln-disc-comment-input.active{
    display: flex !important;
}
.ln-disc-reply{
    cursor: pointer;
    text-decoration: none;
}
.ln-disc-input-bar, .ln-notes-input-bar{
    padding: 0.6em;
    /* overflow-y: scroll; */
}
.ln-disc-input-bar .input-group, .ln-notes-input-bar .input-group{
    width: 100%;
}
.ln-disc-input-bar .input-group>.btn-submit{
    width: 100%;
    text-align: center;
}
.ln-disc-input-bar .input-group .btn, .ln-notes-input-bar .input-group .btn{
    background-color: #007BE5;
    color: #ffffff;
    margin-top: 10px;
}
.ln-notes-input-bar .input-group>.btn-submit{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.ln-notes-input-bar .input-group>.btn-submit>.btn:nth-child(2){
    background-color: transparent !important;
    color: #000000;
    font-weight: bold;
}
.learning-files{
    z-index: 4;
    position: fixed;
    left: -350px;
    top: 0;
    width: 350px;
    height: 100vh;
    background: #f2f3f6;
    transition: 0.2s;
}
.learning-files.active{
    left: 0;
}
.learning-notes{
    z-index: 4;
    position: fixed;
    left: -350px;
    top: 0;
    width: 350px;
    height: 100vh;
    background: #f2f3f6;
    transition: 0.2s;
}
.learning-notes.active{
    left: 0;
}

.ln-notes-list, .ln-files-list{
    padding: 0.6em;
    height: 64vh;
    overflow: auto;
}
.ln-notes-wrapper, .ln-files-wrapper{
    padding: 0.6em;
    background-color: #ffffff;
    margin: 1px 1px 20px 1px;
    transition: 0.5s;
    -webkit-box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
    -moz-box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
    box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
    
}
.ln-notes-wrapper p:first-child{
    text-align: justify;
}
.ln-notes-wrapper>div>div{
    display: flex;
    justify-content: space-between;
}
.ln-files-wrapper p{
    margin-bottom: 0;
    text-align: justify;
}

#playerReportModal .modal-header{
    background-color: #007BE5 !important;
    color: white !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#playerReportModal .modal-header button {
    color: white;
    opacity: 1 !important;
    text-shadow: none !important;
    font-size: x-large;
}
#playerReportModal .modal-header button:hover {
    color: red;
    opacity: 1 !important;
    text-shadow: none !important;
}
#playerReportModal .modal-header .modal-title{
    font-weight: bold;
}
#playerReportModal .modal-footer button{
    background-color: #007BE5 !important;
}
.ln-list-found li {
    background: #ffffff;
    padding: 0.5rem 1rem;
    margin-bottom: 20px;
    margin-right: 0.6em;
    margin-left: 1px;
    margin-top: 1px;
    -webkit-box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
    -moz-box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
    box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
}
.ln-list-found a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #000000;
}
.ln-list-found li:hover {
    cursor: pointer;
    color: #000000;
    background: #f2f3f5;
}
.ln-list-found a:hover {
    text-decoration: none;
    color: #000000;    
}
.ln-list-found .ln-found-title-icon{
    order: 1;
    position: relative;
    top: 0.2em;
}
.ln-list-found .ln-found-title{
    order: 2;
    flex: 1;
    margin-left: 0.3em;
}
.ln-list-found .ln-found-duration{
    order: 3;
}
.ln-list-found div{
    font-size: 11px;
    color: #686F7A;
}

.fa-stack-2x.video_viewed{
    color: rgb(68, 185, 0);
}

.fa-stack-1x.video_viewed{
    color: rgb(255, 255, 255);
}

.fa-stack-2x.video_not_viewed{
    color: rgb(200, 201, 202);
}

.fa-stack-1x.video_not_viewed{
    color: rgb(200, 201, 202);
}

.ln-btn-note .note-count, .ln-btn-file .document-count, .ln-btn-discuss .comment-count{
    background-color: #FF8F00;
    border-radius: 50%;
    font-size: 10px;
    position: absolute;
    top: -2px;
    left: 20px;
    font-weight: bold;
    width: 15px;
    height: 15px;
}
.ln-btn-note .note, .ln-btn-file .document .ln-btn-discuss .comment{
    padding-left: 5px;
}
.ln-btn-note, .ln-btn-discuss, .ln-btn-file{
    position: relative;
}
.ln-btn-file .document{
    margin-left: 5px;
}

.finish-course{
    color: #ffd66d!important;
}

.bg-success{
    background-color: #ffd66d!important;
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999999999999;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.25em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.25em;
    -webkit-box-shadow: rgb(0,191,255) 1.5em 0 0 0, rgb(0,191,255) 1.1em 1.1em 0 0, rgb(0,191,255) 0 1.5em 0 0, rgb(0,191,255) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.25) -1.5em 0 0 0, rgba(0, 0, 0, 0.25) -1.1em -1.1em 0 0, rgb(0,191,255) 0 -1.5em 0 0, rgb(0,191,255) 1.1em -1.1em 0 0;
    box-shadow: rgb(0,191,255) 1.5em 0 0 0, rgb(0,191,255) 1.1em 1.1em 0 0, rgb(0,191,255) 0 1.5em 0 0, rgb(0,191,255) -1.1em 1.1em 0 0, rgb(0,191,255) -1.5em 0 0 0, rgb(0,191,255) -1.1em -1.1em 0 0, rgb(0,191,255) 0 -1.5em 0 0, rgb(0,191,255) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }