html,body, h1, h2, h3, h4, h5, h6, form, input, select, ul, textarea, p { margin: 0px; padding: 0; }
ul { list-style: inside; }
li { margin: 0px; padding: 0px; list-style: none; }
.learning-video{
    margin: 0;
    padding: 0;
}
#my-video{
    width: 100vw;
    height: 100vh;
    transition: 0.5s;

}
.vjs-control-bar{
    display: inline-block;
    height: 6em !important;
    padding-top: 2.5em !important;
    padding-bottom: 0.5em !important;

    /* background: linear-gradient(to top, rgba(20,23,28,0.9) 0, rgba(20,23,28,0.738) 19%, rgba(20,23,28,0.541) 34%, rgba(20,23,28,0.382) 47%, rgba(20,23,28,0.278) 56.5%, rgba(20,23,28,0.194) 65%, rgba(20,23,28,0.126) 73%, rgba(20,23,28,0.075) 80.2%, rgba(20,23,28,0.042) 86.1%, rgba(20,23,28,0.021) 91%, rgba(20,23,28,0.008) 95.2%, rgba(20,23,28,0.002) 98.2%, rgba(20,23,28,0) 100%) !important; */
    background: rgba(173, 173, 173, 0.562) !important;


}
.video-js .vjs-progress-control {
    position: absolute !important;
    top: 1em;
    left: 0;
    right: 0;
    width: auto !important;
    height: 0.5em !important;
}
/* .vjs-fullscreen-control{
    margin-left: auto !important;
} */
.vjs-volume-panel{
    margin-left: auto !important;

}
.learning-top{
    z-index: 2;
    position: absolute;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    top: 0;
    right: 0;
    left: 0;
    height: 3em;
    color: rgb(255, 255, 255);
    transition: visibility 0.1s, opacity 0.1s;
    

    background: rgba(173, 173, 173, 0.562);
}

.vjs-big-play-button{
    border:none !important;
    /* border-radius: 50% !important; */
    /* width: 3em !important; */
    /* height: 3em !important; */
    /* text-align: center; */
}
.lecture-title {
    margin-left: 5em;
    display: inline-flex;
    font-size: 17px;
    cursor: pointer;
}
.lecture-title p {
    margin-left: 15px;
}
.lecture-title i {
    margin-top: 0.3em;
}
.lecture-subtitle{
    float: right;
    margin-right: 5em;
    display: inline-flex;
    font-size: 20px;
}

.learning-lecture-list{
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 0;
    height: 100vh;
    background: #133A54;
    transition: 0.5s;
}
.learning-lecture-list-searchbar{
    position: relative;
    background-color: rgb(15, 44, 63);
    height: 3em;
}
.learning-lecture-list-searchbar .btn {
    color: white;
    font-size: 22px;
}
.learning-lecture-list-searchbar .input-group{
    width: 100%;
    padding-left: 0.5em;
    padding-top: 5px;
}
.learning-lecture-list-searchbar .input-group input {
    border-radius: 0;
}
.learning-lecture-list-searchbar .input-group span{
    background-color:#44B900 !important;
    color: white !important;
    
}